.compatibility__device {
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: relative;
  border-right: 1px solid #666;
  min-height: 24px;
}

.compatibility__device:first-of-type {
  padding-left: 0;
}

.compatibility__device:last-of-type {
  padding-right: 0;
  border-right: none;
}